body {
    background-color: #212429;
}
.container-fluid {
    justify-content: left;
}

.hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

 .pics {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
 } 
 .carousel-inner {
    border-radius: 25%;
 }

footer {
    color: aliceblue;
}

#section2{
    color: aliceblue;

}

.list > ul > li{
    margin-bottom: 40px;

}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS resume*/
.Sec1{
    height: fit-content;
    background-color: #012060;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-size:medium;
}
.Resume{
    color: aliceblue;
    display: grid;
    font-size:small;
}

.Sec2{
    text-align: justify;
    padding-top: 5px;
}
.Sec3 {
    text-align: center;
    padding: 5px;
}
.Sec4 {
    padding: 5px;
}
.right-align{
    text-align: right;
}
hr {
    padding: 0;
    margin: 0;
}
p {
    margin-top: 5px;
    margin-bottom: 1px;
}
li{
    padding: 1px;
}
.printbutton {
    margin: 10px;
}

